<center><h2><a href="/" style="text-decoration: underline;">cflag.io</a></h2>

<script type="text/javascript">
var images = [],
index = 0;
//images[0] = "<a href = 'https://cflag.io/'><img src='/assets/banners/banner2.jpg' alt='cflag,io'></a>";
images[1] = "<a href = 'https://cflag.io/'><img src='/assets/banners/banner3.png' alt='cflag,io'></a>";
index = Math.floor(Math.random() * images.length);
document.write(images[index]);
</script>

<span class="block"><b>[ <a href="/">Home</a> / <a href="/about">About</a> / <a href="/posts">Posts</a> ]</b></span>
</center>
