<head>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<center>
  <script type="text/javascript">
  var banner = [],
  index = 0;
  banner[0] = "<a href = 'https://cflag.io/'><img src='/assets/banners/banner3.png' alt='cflag.io'></a>";
  banner[1] = "<a href = 'https://cflag.io/'><img src='/assets/banners/banner4.png' alt='cflag.io'></a>";
  index = Math.floor(Math.random() * images.length);
  document.write(banner[index]);
  </script>
  <span class="block"><b>[ <a href="/">Home</a> / <a href="/about">About</a> / <a href="/posts">Posts</a> ] [ <a rel="me" href="https://freeradical.zone/@cflag">Mastodon</a> ]</b></span>
</center>
